<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.anishsomani.bumonsterapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bu-monsters</string>
				<string>https</string>
				<string>http</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.anishsomani.bumonsterapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>http</string>
				<string>https</string>
				<string>bu-monsters</string>
			</array>
		</dict>
	</array>
	<key>branch_key</key>
	<dict>
		<key>live</key>
		<string>key_live_otpGUiJWHBS5LLjGLg3h7hgeBrf3mn2q</string>
		<key>test</key>
		<string>key_test_hBiNSpG3RzT5INaVVi4h2dlissd0ln0l</string>
	</dict>
	<key>branch_universal_link_domains</key>
	<array>
		<string>bu-monsters.github.io</string>
		<string>bu-monsters.test-app.link</string>
		<string>bu-monsters-alternate.test-app.link</string>
		<string>bu-monsters</string>
	</array>
</dict>
</plist>
